.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
}

.payments {
  border: solid 1px #CCC;
  padding: 10px;
  border-radius: 15px;
  margin: 10px 0;
}