<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Vista Software - Teste</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <script src="https://kit.fontawesome.com/3aa62a407a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/style.css">
    <!-- endinject -->
    <link rel="shortcut icon" href=""/>
</head>
<body>
<div id="app">
    <div class="container-fluid">
        <div class="row bg-dark">
            <div class="col-md-12">
                <p class="text-center text-light display-4 pt-2">
                    Gestão de locação para imobiliária
                </p>
            </div>
        </div>
    </div>
    <div class="container">
        <ul class="nav nav-tabs justify-content-center">
            <li class="nav-item">
                <a class="nav-link active" href="#clients" id="clients-tab" data-toggle="tab" role="tab">Clientes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#owners" id="owners-tab" data-toggle="tab" role="tab">Proprietários</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#immobiles" id="immobiles-tab" data-toggle="tab" role="tab">Imóveis</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#contracts" id="contracts-tab" data-toggle="tab" role="tab">Contratos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#payments" id="payments-tab" data-toggle="tab" role="tab">Mansalidades</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="clients" role="tabpanel" aria-labelledby="clients-tab">
                <div class="row mt-3">
                    <div class="col-md-6">
                        <h3 class="text-info">Clientes</h3>
                    </div>
                    <div class="col-md-6">
                        <button class="btn btn-info float-lg-right" @click="showAddClient=true">
                            <i class="fas fa-user-plus"></i>&nbsp;&nbsp;Novo cliente
                        </button>
                    </div>
                </div>
                <hr class="bg-info">
                <div class="alert alert-danger" v-if="errorMsg">
                    {{ errorMsg }}
                </div>
                <div class="alert alert-success" v-if="successMsg">
                    {{ successMsg }}
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-bordered table-striped">
                            <thead>
                            <tr class="text-center bg-info text-light">
                                <th>ID</th>
                                <th>Nome</th>
                                <th>E-mail</th>
                                <th>Telefone</th>
                                <th>Editar</th>
                                <th>Deletar</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="text-center" v-for="client in clients">
                                <td>{{ client.id }}</td>
                                <td>{{ client.name }}</td>
                                <td>{{ client.email }}</td>
                                <td>{{ client.phone }}</td>
                                <td><a href="#" class="text-success"
                                       @click="showEditClient=true; selectClient (client);"><i
                                        class="fa fa-edit"></i></a></td>
                                <td><a href="#" class="text-danger"
                                       @click="showDeleteClient=true; selectClient (client);"><i
                                        class="fa fa-trash-o"></i></a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="owners" role="tabpanel" aria-labelledby="owners-tab">
                <div class="row mt-3">
                    <div class="col-md-6">
                        <h3 class="text-info">Proprietários</h3>
                    </div>
                    <div class="col-md-6">
                        <button class="btn btn-info float-lg-right">
                            <i class="fas fa-user-plus"></i>&nbsp;&nbsp;Novo proprietário
                        </button>
                    </div>
                </div>
                <hr class="bg-info">
                <div class="alert alert-danger" v-if="errorMsg">
                    {{ errorMsg }}
                </div>
                <div class="alert alert-success" v-if="successMsg">
                    {{ successMsg }}
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-bordered table-striped">
                            <thead>
                            <tr class="text-center bg-info text-light">
                                <th>ID</th>
                                <th>Nome</th>
                                <th>E-mail</th>
                                <th>Telefone</th>
                                <th>Tranferência</th>
                                <th>Editar</th>
                                <th>Deletar</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="text-center" v-for="owner in owners">
                                <td>{{ owner.id }}</td>
                                <td>{{ owner.name }}</td>
                                <td>{{ owner.email }}</td>
                                <td>{{ owner.phone }}</td>
                                <td>{{ owner.phone }}</td>
                                <td><a href="#" class="text-success"><i class="fa fa-edit"></i></a></td>
                                <td><a href="#" class="text-danger"><i class="fa fa-trash-o"></i></a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="immobiles" role="tabpanel" aria-labelledby="immobiles-tab">
                <div class="row mt-3">
                    <div class="col-md-6">
                        <h3 class="text-info">Imóveis</h3>
                    </div>
                    <div class="col-md-6">
                        <button class="btn btn-info float-lg-right">
                            <i class="fas fa-user-plus"></i>&nbsp;&nbsp;Novo imóvel
                        </button>
                    </div>
                </div>
                <hr class="bg-info">
                <div class="alert alert-danger" v-if="errorMsg">
                    {{ errorMsg }}
                </div>
                <div class="alert alert-success" v-if="successMsg">
                    {{ successMsg }}
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-bordered table-striped">
                            <thead>
                            <tr class="text-center bg-info text-light">
                                <th>ID</th>
                                <th>Endereço</th>
                                <th>Proprietario</th>
                                <th>Editar</th>
                                <th>Deletar</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="text-center" v-for="immobile in immobiles">
                                <td>{{ immobile.id }}</td>
                                <td>{{ immobile.address }}</td>
                                <td>{{ immobile.owners_id }}</td>
                                <td><a href="#" class="text-success"><i class="fa fa-edit"></i></a></td>
                                <td><a href="#" class="text-danger"><i class="fa fa-trash-o"></i></a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="contracts" role="tabpanel" aria-labelledby="contracts-tab">
                <div class="row mt-3">
                    <div class="col-md-6">
                        <h3 class="text-info">Contratos</h3>
                    </div>
                    <div class="col-md-6">
                        <button class="btn btn-info float-lg-right" @click="showAddContract=true">
                            <i class="fas fa-user-plus"></i>&nbsp;&nbsp;Novo contrato
                        </button>
                    </div>
                </div>
                <hr class="bg-info">
                <div class="alert alert-danger" v-if="errorMsg">
                    {{ errorMsg }}
                </div>
                <div class="alert alert-success" v-if="successMsg">
                    {{ successMsg }}
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-bordered table-striped">
                            <thead>
                            <tr class="text-center bg-info text-light">
                                <th>ID</th>
                                <th>Cliente</th>
                                <th>Proprietario</th>
                                <th>Imovel</th>
                                <th>Data de início</th>
                                <th>Data final</th>
                                <th>Taxa</th>
                                <th>Aluguel</th>
                                <th>Condomínio</th>
                                <th>IPTU</th>
                                <th>Editar</th>
                                <th>Deletar</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="text-center" v-for="contract in contracts">
                                <td>{{ contract.id }}</td>
                                <td>{{ contract.client_id }}</td>
                                <td>{{ contract.owner_id }}</td>
                                <td>{{ contract.immobile_id }}</td>
                                <td>{{ contract.start_date }}</td>
                                <td>{{ contract.end_date }}</td>
                                <td>{{ contract.rate_adm }}</td>
                                <td>{{ contract.rent }}</td>
                                <td>{{ contract.condominium }}</td>
                                <td>{{ contract.iptu }}</td>
                                <td><a href="#" class="text-success"><i class="fa fa-edit"></i></a></td>
                                <td><a href="#" class="text-danger"><i class="fa fa-trash-o"></i></a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="tab-pane fade" id="payments" role="tabpanel" aria-labelledby="payments-tab">
                <div class="row mt-3">
                    <div class="col-md-6">
                        <h3 class="text-info">Mensalidades</h3>
                    </div>
                </div>
                <hr class="bg-info">
                <div class="alert alert-danger" v-if="errorMsg">
                    {{ errorMsg }}
                </div>
                <div class="alert alert-success" v-if="successMsg">
                    {{ successMsg }}
                </div>
                <div class="row">
                    <div class="col-md-12">

                        <table class="table table-bordered table-striped" style="border-collapse:collapse;">
                            <thead>
                            <tr class="header text-center bg-info text-light">
                                <th>ID</th>
                                <th>ID do contrato</th>
                                <th>Valor de aluguel</th>
                                <th>Valor de repasse</th>
                                <th>Status da Mensalidade</th>
                                <th>Status de repasse</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="text-center" v-for="payment in payments">
                                <td>{{ payment.id }}</td>
                                <td @click="showPayments=true">{{ payment.contracts_id }}</td>
                                <td>{{ payment.value }}</td>
                                <td>{{ payment.transfer_value }}</td>
                                <td>{{ payment.payment_status}}</td>
                                <td>{{ payment.transfer_status }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>


    <!-- Add new client -->
    <div class="overlay" v-if="showAddClient">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5>Novo cliente</h5>
                    <button type="button" class="close" @click="showAddClient=false">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="#" method="post">
                        <div class="form-group">
                            <input type="text" name="name" class="form-control" placeholder="Nome" required
                                   v-model="newClient.name">
                        </div>
                        <div class="form-group">
                            <input type="email" name="email" class="form-control" placeholder="E-mail" required
                                   v-model="newClient.email">
                        </div>
                        <div class="form-group">
                            <input type="tel" name="phone" class="form-control" placeholder="Telefone" required
                                   v-model="newClient.phone">
                        </div>
                        <div class="form-group">
                            <button class="btn btn-info btn-block" @click="addClient()">
                                Adicionar cliente
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Edit client model -->
    <div class="overlay" v-if="showEditClient">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5>Editar cliente</h5>
                    <button type="button" class="close" @click="showEditClient=false">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="#" method="post">
                        <div class="form-group">
                            <input type="text" name="name" class="form-control" placeholder="Nome"
                                   v-model="currentClient.name">
                        </div>
                        <div class="form-group">
                            <input type="email" name="email" class="form-control" placeholder="E-mail"
                                   v-model="currentClient.email">
                        </div>
                        <div class="form-group">
                            <input type="tel" name="phone" class="form-control" placeholder="Telefone"
                                   v-model="currentClient.phone">
                        </div>
                        <div class="form-group">
                            <button class="btn btn-info btn-block" @click="showEditClient=false; updateClient();">
                                Editar cliente
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Delete client model -->
    <div class="overlay" v-if="showDeleteClient">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5>Remover cliente</h5>
                    <button type="button" class="close" @click="showDeleteClient=false">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h4 class="text-danger">Você realmente deseja remover este cliente?</h4>
                    <h5>Você esta deletando '{{ currentClient.name }}'</h5>
                    <hr>
                    <button class="btn btn-danger btn-sm" @click="showDeleteClient=false; deleteClient();">Yes</button>
                    &nbsp;&nbsp;&nbsp;
                    <button class="btn btn-success btn-sm" @click="showDeleteClient=false">No</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Add new owner -->
    <div class="overlay" v-if="showAddOwner">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5>Novo proprietário</h5>
                    <button type="button" class="close" @click="showAddOwner=false">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="#" method="post">
                        <div class="form-group">
                            <input type="text" name="name" class="form-control" placeholder="Nome"
                                   v-model="newOwner.name">
                        </div>
                        <div class="form-group">
                            <input type="email" name="email" class="form-control" placeholder="E-mail"
                                   v-model="newOwner.email">
                        </div>
                        <div class="form-group">
                            <input type="tel" name="phone" class="form-control" placeholder="Telefone"
                                   v-model="newOwner.phone">
                        </div>
                        <div class="form-group">
                            <input type="tel" name="transfer_day" class="form-control" placeholder="Dia para transferencia"
                                   v-model="newOwner.phone">
                        </div>
                        <div class="form-group">
                            <button class="btn btn-info btn-block" @click="newOwner()">
                                Adicionar proprietário
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Edit owner model -->
    <div class="overlay" v-if="showEditOwner">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5>Editar cliente</h5>
                    <button type="button" class="close" @click="showEditOwner=false">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="#" method="post">
                        <div class="form-group">
                            <input type="text" name="name" class="form-control" placeholder="Nome"
                                   v-model="currentOwner.name">
                        </div>
                        <div class="form-group">
                            <input type="email" name="email" class="form-control" placeholder="E-mail"
                                   v-model="currentOwner.email">
                        </div>
                        <div class="form-group">
                            <input type="tel" name="phone" class="form-control" placeholder="Telefone"
                                   v-model="currentOwner.phone">
                        </div>
                        <div class="form-group">
                            <input type="tel" name="phone" class="form-control" placeholder="Dia de transferência"
                                   v-model="currentOwner.transfer_day">
                        </div>
                        <div class="form-group">
                            <button class="btn btn-info btn-block" @click="showEditOwner=false; updateOwner();">
                                Editar proprietário
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Delete owner model -->
    <div class="overlay" v-if="showDeleteOwner">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5>Remover cliente</h5>
                    <button type="button" class="close" @click="showDeleteOwner=false">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h4 class="text-danger">Você realmente deseja remover este cliente?</h4>
                    <h5>Você esta deletando '{{ currentOwner.name }}'</h5>
                    <hr>
                    <button class="btn btn-danger btn-sm" @click="showDeleteOwner=false; deleteClient();">Yes</button>
                    &nbsp;&nbsp;&nbsp;
                    <button class="btn btn-success btn-sm" @click="showDeleteOwner=false">No</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Add new immobile -->
    <div class="overlay" v-if="showAddImmobile">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5>Novo imóvel</h5>
                    <button type="button" class="close" @click="showAddImmobile=false">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="#" method="post">
                        <div class="form-group">
                            <input type="text" name="name" class="form-control" placeholder="Endereço"
                                   v-model="newImmobiles.address">
                        </div>
                        <div class="form-group">
                            <input type="email" name="email" class="form-control" placeholder="Proprietário"
                                   v-model="newImmobiles.owners_id">
                        </div>
                        <div class="form-group">
                            <button class="btn btn-info btn-block" @click="newImmobiles()">
                                Adicionar imóvel
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Edit immobile model -->
    <div class="overlay" v-if="showEditImmobile">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5>Editar imóvel</h5>
                    <button type="button" class="close" @click="showEditImmobile=false">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="#" method="post">
                        <div class="form-group">
                            <input type="text" name="address" class="form-control" placeholder="Endereço"
                                   v-model="currentImmobile.address">
                        </div>
                        <div class="form-group">
                            <input type="owner" name="owner" class="form-control" placeholder="Proprietário"
                                   v-model="currentImmobile.owners_id">
                        </div>
                        <div class="form-group">
                            <button class="btn btn-info btn-block" @click="showEditImmobile=false; updateImmobile();">
                                Editar imóvel
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Delete immobile model -->
    <div class="overlay" v-if="showDeleteOwner">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5>Remover cliente</h5>
                    <button type="button" class="close" @click="showDeleteOwner=false">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h4 class="text-danger">Você realmente deseja remover este cliente?</h4>
                    <h5>Você esta deletando '{{ currentOwner.name }}'</h5>
                    <hr>
                    <button class="btn btn-danger btn-sm" @click="showDeleteOwner=false; deleteClient();">Yes</button>
                    &nbsp;&nbsp;&nbsp;
                    <button class="btn btn-success btn-sm" @click="showDeleteOwner=false">No</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Add new contract -->
    <div class="overlay" v-if="showAddContract">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5>Novo contrato</h5>
                    <button type="button" class="close" @click="showAddContract=false">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="#" method="post">
                        <div class="form-group">
                            <input type="text" name="owner_id" class="form-control" placeholder="Proprietario" required
                                   v-model="newContract.owner_id">
                        </div>
                        <div class="form-group">
                            <input type="text" name="client_id" class="form-control" placeholder="Cliente" required
                                   v-model="newContract.client_id">
                        </div>
                        <div class="form-group">
                            <input type="text" name="immobile_id" class="form-control" placeholder="Imóvel" required
                                   v-model="newContract.immobile_id">
                        </div>
                        <div class="form-group">
                            <input type="date" name="start_date" class="form-control" placeholder="Início do contrato"
                                   required
                                   v-model="newContract.start_date">
                        </div>
                        <div class="form-group">
                            <input type="date" name="end_date" class="form-control" placeholder="Fim do contrato"
                                   required
                                   v-model="newContract.end_date">
                        </div>
                        <div class="form-group">
                            <input type="text" name="rate_adm" class="form-control" placeholder="Taxa de administração"
                                   required
                                   v-model="newContract.rate_adm">
                        </div>
                        <div class="form-group">
                            <input type="text" name="rent" class="form-control" placeholder="Valor" required
                                   v-model="newContract.rent">
                        </div>
                        <div class="form-group">
                            <input type="text" name="condominium" class="form-control" placeholder="Condomínio" required
                                   v-model="newContract.condominium">
                        </div>
                        <div class="form-group">
                            <input type="text" name="iptu" class="form-control" placeholder="IPTU"
                                   v-model="newContract.iptu">
                        </div>
                        <div class="form-group">
                            <button class="btn btn-info btn-block" @click="addContract()">
                                Salvar contrato
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- show payments -->
    <div class="overlay" v-if="showPayments">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5>Pagamentos</h5>
                    <button type="button" class="close" @click="showPayments=false">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div>Contrato id: <span v-model="currentPayments.id"></span></div>
                    <div>Valor do aluguel: <span v-model="currentPayments.value"></span></div>
                    <div>Valor de repasse: <span v-model="currentPayments.transfer_value"></span></div>
                    <div class="payments">
                        <div class="col-12">
                            <div class="row">
                                <div class="value col-4">
                                    Value
                                </div>
                                <div class="payment-status col-4">
                                    Pago
                                </div>
                                <div class="payment-status col-4">
                                    Repasse
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-info btn-block" @click="showPayments=false">
                            Voltar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script type="text/javascript" src="js/main.js"></script>
</body>
</html>