<div class="overlay" v-if="showAddClient">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Novo cliente</h5>
                <button type="button" class="close" @click="showAddClient=false">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="#" method="post">
                    <div class="form-group">
                        <input type="text" name="name" class="form-control" placeholder="Nome" v-model="newClient.name">
                    </div>
                    <div class="form-group">
                        <input type="email" name="email" class="form-control" placeholder="E-mail" v-model="newClient.email">
                    </div>
                    <div class="form-group">
                        <input type="tel" name="phone" class="form-control" placeholder="Telefone" v-model="newClient.phone">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-info btn-block" @click="addClient()">
                            Adicionar cliente
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>